body {
}

#restDiv{
    margin:auto;
    width:70%;
}

#headRow {
    width: 100%;
    height: 100px;
    background-color: black;
    color: firebrick;
    font-size: 40px;
}

#menuRow {
    width: 100%;
    height: 70px;
    background-color: firebrick;
    color: black;
    font-size: 20px;
}

#btnResturants{
    background-color:black;
    color:firebrick;
}


#btnOrder {
    background-color: black;
    color: firebrick;
    height: 35px;
}

#btnAccount {
    background-color: black;
    color: firebrick;
}

#btnEditInfo {
    background-color: black;
    color: firebrick;
}

#btnUpdate {
    background-color: black;
    color: firebrick;
}

#btnPayments {
    background-color: black;
    color: firebrick;
}

#btnViewOrders {
    background-color: black;
    color: firebrick;
}

#btnAllOrders {
    background-color: black;
    color: firebrick;
}

#btnAcctInfo {
    background-color: black;
    color: firebrick;
}

#btnPays {
    background-color: black;
    color: firebrick;
}

#btnEditRInfo {
    background-color: black;
    color: firebrick;
}

#btnSaveAcct {
    background-color: black;
    color: firebrick;
}

#infoDiv {
    margin: auto;
    width: 80%;
    border: 5px solid black;
}